__pycache__/
*.py[cod]
*$py.class
*.sln
.vs
.vsconfig
Binaries
DerivedDataCache
Intermediate
Saved
Build
.DS_Store
certs/
*.crt
*.csr
*.key
*.srl

# Secrets never commit!
.env

# MQTT broker password file (generated locally by make_users.sh)
passwd

*.log
*.db

Version.ini
DefaultProjectVersionGitSettings.ini

dist/
*.spec
*.exe
*.dll